<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <div id = "container">
        <div>
            <p>Usuario</p>
            <input class = "inputs" type="text">
        </div>
        <div>
            <p>Senha</p>
            <input  class ="inputs" type="password">
        </div>
        <a href="./createUser.html">Adicionar Conta</a>
        <input onclick="teste()" value = "Login" class = "submit" onclick="logar()" type="button">
    </div>
    <div class = "conjbar bdown">
    </div>
    <div class ="conjbar">
    </div>
    <script src="static/js/script.js"></script>
</body>
</html>