<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>menu</title>
    <link rel="stylesheet" href="/static/css/menu.css">
</head>

<body>
    <div id="load">
        <h1>Bem Vindo</h1>
        <h1>{{username}}</h1>
    </div>


    <div id='menu'>
    </div>


    <div id="userInfos">
        <input onclick="openMenu()" type="button" id="avatar" src="">
        <h1 id="username">{{username}}</h1>
    </div>
    <div id="options">
        <p class="select" id="">Privado</p>
        <p id="">Publico</p>
    </div>
    <input id="search" type="text" placeholder="Pesquisar">
    <div class="musics">
        <img class="musicImg">
        <div class="musicInfos">
            <p class="musicName">Nome da Musica</p>
            <p class="artist">nome do artista</p>
        </div>
        <div onclick="play(this)" class="playBtn"><img class="playIcon" src="/TbFinalOO-bmvcWeb/app/static/img/playIcon.png"></div>
    </div>

    <div class="musics">
        <img class="musicImg">
        <div class="musicInfos">
            <p class="musicName">Nome da Musica</p>
            <p class="artist">nome do artista</p>
        </div>
        <div onclick="play(this)" class="playBtn"><img class="playIcon" src="/TbFinalOO-bmvcWeb/app/static/img/playIcon.png"></div>
    </div>
    <div class="musics">
        <img class="musicImg">
        <div class="musicInfos">
            <p class="musicName">Nome da Musica</p>
            <p class="artist">nome do artista</p>
        </div>
        <div onclick="play(this)" class="playBtn"><img class="playIcon" src="/TbFinalOO-bmvcWeb/app/static/img/playIcon.png"></div>
    </div>
    <div class="musics">
        <img class="musicImg">
        <div class="musicInfos">
            <p class="musicName">Nome da Musica</p>
            <p class="artist">nome do artista</p>
        </div>
        <div onclick="play(this)" class="playBtn"><img class="playIcon" src="/TbFinalOO-bmvcWeb/app/static/img/playIcon.png"></div>
    </div>
    <div class="musics">
        <img class="musicImg">
        <div class="musicInfos">
            <p class="musicName">Nome da Musica</p>
            <p class="artist">nome do artista</p>
        </div>
        <div onclick="play(this)" class="playBtn"><img class="playIcon" src="/TbFinalOO-bmvcWeb/app/static/img/playIcon.png"></div>
    </div>
    <div class="musics">
        <img class="musicImg">
        <div class="musicInfos">
            <p class="musicName">Nome da Musica</p>
            <p class="artist">nome do artista</p>
        </div>
        <div onclick="play(this)" class="playBtn"><img class="playIcon" src="/TbFinalOO-bmvcWeb/app/static/img/playIcon.png"></div>
    </div>
    <div class="musics">
        <img class="musicImg">
        <div class="musicInfos">
            <p class="musicName">Nome da Musica</p>
            <p class="artist">nome do artista</p>
        </div>
        <div onclick="play(this)" class="playBtn"><img class="playIcon" src="/TbFinalOO-bmvcWeb/app/static/img/playIcon.png"></div>
    </div>


    <div id="footer">
        <div id="actMusicInfos">
            <p class="musicName">Nome da Musica</p>
            <p class="artist">nome do artista</p>
        </div>
        <div id="controllers">
            <input type="button" class="arrows rotate180">
            <div onclick="play(this)" class="playBtn">
                <img id="actBtn" class="playIcon" src="/TbFinalOO-bmvcWeb/app/static/img/playIcon.png">
            </div>
            <input type="button" class="arrows">
        </div>
    </div>

    <script src="/static/js/menu.js"></script>
</body>

</html>